In [16]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [17]:
data = np.transpose([[1,2,3,4,5,6,7,8,9,10], [10,9,8,7,6,5,4,3,2,1], [1,3,2,5,4,6,7,8,4,3]])

In [20]:
df_test = pd.DataFrame(data=data, columns=['X', 'Y', 'Z'])

In [21]:
df_test

    X   Y  Z
0   1  10  1
1   2   9  3
2   3   8  2
3   4   7  5
4   5   6  4
5   6   5  6
6   7   4  7
7   8   3  8
8   9   2  4
9  10   1  3

In [30]:
x_train, _, _, _ = train_test_split(df_test[['X', 'Y']], df_test['Z'], 
                                    train_size=0.30, random_state=0)
print(x_train)

In [33]:
for i in range(9):
    x_train, _, _, _ = train_test_split(df_test[['X', 'Y']], df_test['Z'], 
                                    train_size=(i+1)/10, random_state=0)
    print(x_train)
    print()

   X  Y
5  6  5

   X   Y
0  1  10
5  6   5

   X   Y
3  4   7
0  1  10
5  6   5

   X   Y
7  8   3
3  4   7
0  1  10
5  6   5

   X   Y
6  7   4
7  8   3
3  4   7
0  1  10
5  6   5

   X   Y
1  2   9
6  7   4
7  8   3
3  4   7
0  1  10
5  6   5

    X   Y
9  10   1
1   2   9
6   7   4
7   8   3
3   4   7
0   1  10
5   6   5

    X   Y
4   5   6
9  10   1
1   2   9
6   7   4
7   8   3
3   4   7
0   1  10
5   6   5

    X   Y
8   9   2
4   5   6
9  10   1
1   2   9
6   7   4
7   8   3
3   4   7
0   1  10
5   6   5